<div class="container-portfolio">
    <ul class="ul-container">
        <div class="left">
            <li class="profile-img">profile img</li>
            <li class="welcome">welcome {{loggedInUser.username}}</li>
        </div>
        <div class="right">
            <li class="logo-portfolio-page"><i class="fa-solid fa-puzzle-piece fa-xl"></i>
                <h1>FOR T FOLIO</h1>
            </li>
            <p>Portfolio of {{loggedInUser.username}}</p>
        </div>
    </ul>

<div>
    <section class="container-cards">
        {{#each arrayOfProjects}}
        <div class="cards">
            <h2>{{this.name}}</h2>
            <p>{{this.description}}</p>
            <img src="{{this.imgUrl}}" alt="{{this.name}}">
        </div>
        {{/each}}
    </section>


    <section>
        <h3>{{loggedInUser.username}}</h3>
        <p>{{userpop.description}}</p>
        <img src="{{userpop.userImage}}" alt="{{loggedInUser.username}}">
    </section>

</div>


    <div class="button">
        <a href="user-details"><button class="btn" type="submit">CREATE YOUR PROFILE</button></a>
        <a href="create-project"><button class="btn" type="submit">CREATE YOUR FIRST PROJECT</button></a>
    </div>


</div>