<div class="container-portfolio">
    <ul class="ul-container">
        
            <li class="logo-portfolio-page"><i class="fa-solid fa-puzzle-piece fa-xl"></i>
                <h1>FOR T FOLIO</h1>
            </li>
            <p class="user-name-portfolio">Portfolio of {{loggedInUser.username}}</p>

    </ul>
    <div class="button portfolio-buttons">
        <a href="user-details"><button class="btn" type="submit">CREATE / EDIT YOUR PROFILE</button></a>
        <a href="create-project"><button class="btn" type="submit">CREATE YOUR FIRST PROJECT</button></a>
        <a href="find-users"><button class="btn" type="submit">Find User</button></a>
    </div>

    <div class="main-container-portfolio">
        <section class="user-container">
            <h2 class="username-in-portfolio">{{loggedInUser.username}}</h2>
            <p>{{userpop.description}}</p>
            <img class="profile-user-img-portfolio" src="{{userpop.userImage}}" alt="{{loggedInUser.username}}">
        </section>
        <section class="container-cards">
            {{#each arrayOfProjects}}
            <a href="/project/{{this.id}}">
                <div class="cards">
                    <img class="img-portfolio" src="{{this.imgUrl}}" alt="{{this.name}}">
                    <div class="name-project">{{this.name}}</div>
                    {{!--<p>{{this.description}}</p> --}}
                </div>
            </a>
            {{/each}}
        </section>
    </div>




</div>